<div class="wrapper">
      <!-- start navbar -->
    <app-navbar></app-navbar>
    <!-- end navber -->
    <!-- Page Content -->
    <div id="page-content">
      <!-- Breadcrumb -->
      <div class="container">
          <ol class="breadcrumb  opacity-50 pt-2 pe-0 bg-transparent mb-2">
              <li><a href="#" class="text-white">Home</a></li>
              <li class="active">Property Listing</li>
          </ol>
      </div>
      <!-- end Breadcrumb -->

      <div class="container">
          <div class="row">
              <!-- Results -->
              <div class="col-md-9 col-sm-9">

                  <section id="results" style="margin-top: 17px;">
                      <header><h1>Properties Listing</h1></header>
                      <section id="search-filter" style="margin-top: 30px;">
                          <figure><h3><i class="fa fa-search"></i>Search Results:</h3>
                              <!-- <span class="search-count">28</span> -->
                              <div class="sorting ">
                                  <div class="form-group select_container1">
                                      <select name="sorting" >
                                          <option value="">Sort By</option>
                                          <option value="1">Lowest price first</option>
                                          <option value="2">Highest price first</option>
                                          <option value="3">Date added</option>
                                      </select>
                                      <div class="icon-dropdown">
                                        <fa-icon [icon]="arrowdown"></fa-icon>
                                      </div>
                                  </div><!-- /.form-group -->
                              </div>
                          </figure>
                      </section>
                      <div class="container justify-content-center" id="properties">
                      <div class="row" >

                      @for (item of propertys; track item.id) {
                        <app-property-card style="width: 33.3%;" [propertyItem]="item" ></app-property-card>
                      }



                      </div><!-- /.row-->

                      <!-- Pagination -->
                      <div class="text-center" >
                          <ul class="pagination" style="display: inline-block !important;">
                              <li class="active"><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                          </ul><!-- /.pagination-->
                      </div><!-- /.center-->

                      </div><!-- /#properties-->
                  </section><!-- /#results -->
              </div><!-- /.col-md-9 -->
              <!-- end Results -->
              <app-search style="display: inline;width: 25%;margin-top: 177px;"></app-search>
              <!-- sidebar -->
              <!-- <app-search></app-search> -->
            <!-- end Sidebar -->
          </div><!-- /.row -->
      </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <app-big-footer></app-big-footer>
    <app-small-footer></app-small-footer>
  </div>
