<!-- Navigation -->
<div class="navigation" style="z-index: 1000;">
    <div class="secondary-navigation">
        <div class="container">
            <div class="contact">
                <figure><strong>Phone:</strong>+20 1060920138</figure>
                <figure><strong>Email:</strong>property.hub&#64;gmail.com</figure>
            </div>
            <div class="user-area">
                <div class="actions">
                    <a href="#" class="promoted">Create Agency</a>
                    <a href="#" class="promoted"><strong>Register</strong></a>
                    <a href="#">Sign In</a>
                </div>
                <div class="language-bar">
                    <a href="#" class="active"><img src="assets/img/flags/us.png" title="English - US"></a>
                    <a href="#"><img src="assets/img/flags/eg.png" title="Arabic - EG"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <header class="navbar" id="top" role="banner">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand nav" id="brand">
                    <a href="#"><img src="assets/img/logo2.png" alt="brand"></a>
                </div>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>               
                    <li><a href="#">Buy</a></li>
                    <li><a href="#">Rent</a></li>
                    <li><a href="#">Commercial</a></li>
                    <li class="has-child"><a href="#">Agents & Agencies</a>
                        <ul class="child-navigation">
                            <li><a href="agents-listing.html">Agents Listing</a></li>
                            <li><a href="agencies-listing.html">Agencies Listing</a></li>
                        </ul>
                    </li>
                    <li class="has-child"><a href="#">Blog</a>
                        <ul class="child-navigation">
                            <li><a href="blog.html">Blog Listing</a></li>
                            <li><a href="blog-detail.html">Blog Post Detail</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav><!-- /.navbar collapse-->
            <div class="add-your-property">
                <a href="#" class="btn btn-default"><i class="fa fa-plus"></i><span class="text">Add Your Property</span></a>
            </div>
        </header><!-- /.navbar -->
    </div><!-- /.container -->
</div><!-- /.navigation -->
<!-- end Navigation -->