<div class="navigation position-relative z-3">
    <div class="first-nav">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="contact d-none d-md-flex gap-2 text-secondary">
                <figure class="m-0"><strong>Phone:</strong> +1 810-991-3842</figure>
                <figure class="m-0"><strong>Email:</strong> zoner&#64;example.com</figure>
            </div>
            <div class="user-area d-flex gap-3 align-items-center justify-content-between">
              <div class="links d-flex align-items-center gap-2">
                  @if (userLogged.length > 1) {
                      <p class="m-0 me-2 me-md-3 me-lg-4" style="font-size: 12px;">{{userLogged[1].name}}</p>
                      <p class="m-0 me-2 me-md-3 me-lg-4" style="font-size: 12px;">{{userLogged[1].email}}</p>
                      <a href="#" class="text-decoration-none" (click)="logout()">Log Out</a>
                  }
                  @else if (userLogged.length <= 2) {
                      <a routerLink="/register" class="text-decoration-none">Register</a>
                      <a routerLink="/signin" class="text-decoration-none">Sign In</a>
                  }
              </div>
                <div class="language-bar d-flex gap-2">
                    <a href="#" class="active"><img src="../../assets/images/flags/gb (1).png" alt=""></a>
                    <a href="#"><img src="../../assets/images/flags/de.png" alt=""></a>
                    <a href="#"><img src="../../assets/images/flags/Flag_of_Egypt.svg.png" alt=""></a>
                    <a href="#"><img src="../../assets/images/flags/gb.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="last-nav">
        <header class="navbar navbar-expand-md navbar-dark container position-relative">
            <div class="navbar-header">
                <div class="navbar-brand nav">
                    <a href="#" class=" d-flex align-items-center gap-2 text-light text-decoration-none">
                        <img src="../../assets/images/logo.jpg" alt="brand">
                        BAZAR
                    </a>
                </div>
            </div>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Buy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Rent</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Commercial</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">Agents & Agencies</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">Agents Listing</a></li>
                            <li><a href="#" class="dropdown-item">Agencies Listing</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">Blog Listing</a></li>
                            <li><a href="#" class="dropdown-item">Blog Post Detail</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                </ul>
            </nav>
            <div class="add-property position-absolute">
                <a href="add-property" class="d-flex align-items-center"><!-- In any component template -->
                    <i class="fa-solid fa-plus fs-6 p-2 badge bg-primary rounded-0 d-inline-block"></i>                    
                    <span class="badge bg-info rounded-0 position-absolute p-2">Add Your Property</span>
                </a>
            </div>
        </header>
    </div>
  </div>