<div class="property">
    <a href="#">
        <div class="property-image">
            <img alt="" src="assets/img/properties/property-06.jpg">
        </div>
        <div class="overlay">
            <div class="info">
                <div class="price-tag">LE 11,000</div>
                <h3>3398 Lodgeville Road</h3>
                <figure>Golden Valley, MN 55427</figure>
            </div>
            <ul class="additional-info">
                <li>
                    <header>Area:</header>
                    <figure>240m<sup>2</sup></figure>
                </li>
                <li>
                    <header>Beds:</header>
                    <figure>2</figure>
                </li>
                <li>
                    <header>Baths:</header>
                    <figure>2</figure>
                </li>
                <li>
                    <header>Garages:</header>
                    <figure>0</figure>
                </li>
            </ul>
        </div>
    </a>
</div>