*{
  box-sizing: border-box;
}
h1 ,h2 ,p ,span ,label{
  color: #5a5a5a;

}
h2 {
  font-size: 24px;
  font-weight: lighter;
  border: none;

}
.sc{
  width: 100%;
}
select{
  font-weight: normal !important;
}
.section-title h2{
display: inline-block;
font-family: inherit;
line-height: 1.1;
color: inherit;
border: none;
}
.input1{

  box-shadow: none;

  border-radius: 0px;

  transition: 0.3s;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
    appearance: none;
  background-color: #f3f3f3;
  border: none;
  font-size: 14px;
  outline: none !important;
  padding: 10px 9px 11px 9px;
  width: 100%;
  height: inherit;
}
.input-group-addon {
  padding: 12px 20px 6px 12px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 1 !important;
  color: #555;
  text-align: center !important;
  background-color: #eee;
  border: 0px solid #ccc;
  border-radius: 0px !important;
  justify-content: center;
}
.input-group-addon, .input-group-btn {
  width: 1% !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
}
 .submit-features li {
  display: inline-block;
  width: 33%;
}


/* section {
  position: relative;
}
.submit-features li {
  display: inline-block;
  width: 33%;

}
.checkbox{
  width: 20px;
}
*/
.checkbox{
  display: inline-block;
  align-items: center;
  padding: 10px;
  margin: 5px;
  width: auto;
  position: relative;
  margin-left: 10px;
}

.checkbox input[type="checkbox"]{

  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.checkbox label{
  cursor: pointer;
  display: flex;


}

.checkbox label::before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #f3f3f3;

  border-radius: 0px;
  box-shadow: 0px 0px 1px;
  cursor: pointer;
  position: absolute;
  left: -14px;


}



.checkbox input[type="checkbox"]:checked + label::before{
  font-family: 'fontawesome';
  content:'\f00c';
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 15px;
  line-height: 20px;
}
/* gallary */
.form-submit .file-input {
  border: 2px solid #f3f3f3;
  padding: 15px;
  position: relative;
  width: 100%;
}
.center {
  text-align: center;
}
/* image upload */
.image-container{
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0px 0px 3px;

}
.upload{
  background-color: #0dcaf0;
  cursor: pointer;
  position: relative;
  margin: 10px;


}
input[type="file"]{
opacity: 0;
position: absolute;
cursor: pointer;

z-index: 0;

}
.upload label{
  text-align: center;
  color: white;
  padding:15px 40px;
  user-select: none;
  letter-spacing:1,5px ;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

}
/* label:active{
  transform: scale(0.9);
} */

/* select */

.select_container select
{
  width:100%;
  border-radius: 0;
  padding-right: 25px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f3f3f3;
  color: #5a5a5a;
  border: none;
  font-size: 14px;
  outline: none !important;
  padding: 10px 9px 9px 9px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
}
.form-group{
  margin: 8px;
}
/* .icon-dropdown{
  position: absolute;
  align-items: center;
  justify-content: center;
  color: #1396e2;
  display: flex;
  right: 0;
  width: 50px;
  height: 100%;
  top: 0;
  border: none;
} */
/*
.select_container1
{
  position: relative;
  display: flex;
  justify-content: center;
}
.select_container option{
  padding: 30px;
} */

.select_container1.icon-dropdown{
  position: absolute;
  align-items: center;
  justify-content: center;
  color: #1396e2;
  display: flex;
  right: 0;
  width: 50px;
  height: 100%;
}
/* end select */
.add-prop
{
  background-color: #0d6efd;
  color: white;
  border-radius: 0;
  font-size: 16px;
  padding: 15px 30px;
}

.add-prop:disabled
{
  background-color: #458efb;
  color: white;
  border-radius: 0;
  font-size: 16px;
  padding: 15px 30px;
}
.image-preview{
  display: inline-block;
}
.image-preview img{
  width: 150px;
}
.input-area,.input-group-text{
 background-color: #f3f3f3;
 border-radius: 0%;
}