<app-navbar></app-navbar>


<section class="ftco-section my-5">
    <div class="container">
        <h3 class="my-5">Payment Details</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-responsive-xl">
                      <thead>
                        <tr>
                            <th>Property</th>
                            <th>Payment For</th>
                            @if (offer.offer_for == "Rent") {
                                <th>Period</th>
                            }
                            <th>Price</th>                      
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="alert" role="alert">  
                            <td>
                                <div>
                                    <p>{{ offer.property_title }}</p>
                                    <img src="http://localhost:8000/images/{{ offer.property_image }}" alt="Property image" width="200px" height="200px">
                                </div>
                            </td>
                            <td>{{ offer.offer_for }}</td>
                            @if (offer.offer_for == "Rent") {
                                <td>{{ offer.period }}</td>
                            }
                            <td>
                                <div>
                                    <span class="text-primary">LE</span> {{ offer.offer_price }}
                                </div>
                                <div class="mt-5">
                                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                </div>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<app-big-footer></app-big-footer>
