<app-navbar></app-navbar>
<!-- Wrapper -->
<div class="wrapper">

  <!-- Page Content -->
  <div id="page-content">
      <!-- Breadcrumb -->
        <nav class="container py-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="nav-link text-dark link-secondary">Home</a></li>
                <li class="breadcrumb-item text-secondary">Add your property</li>
            </ol>
        </nav>
  <!-- end Breadcrumb -->

      <div class="container">
          <header><h1>Add Your Property</h1></header>

          <form  role="form" id="form-submit" class="form-submit" [formGroup]="myForm" (submit)="onSubmit()">
              <div class="row">
                  <div class="block">
                      <div class="col-md-9 col-sm-9 sc">
                          <section id="submit-form">
                              <section id="basic-information">
                                  <header><h2>Basic Information</h2></header>
                                  <div class="row">
                                    <div class="col-md-8">
                                      <div class="form-group">
                                          <label for="submit-title">Title</label>
                                          <input type="text" class="form-control input1" id="submit-title" name="title" required formControlName="title">
                                          <div *ngIf="myForm.get('title')!.invalid && myForm.get('title')!.touched" class="text-danger">
                                            <div *ngIf="myForm.get('title')!.errors?.['required']">Title is required</div>
                                          </div>

                                      </div><!-- /.form-group -->
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="submit-price">Price</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control" id="submit-price" name="price" formControlName="price">
                                        </div>
                                        <!-- Display validation errors -->
                                        <div *ngIf="myForm.get('price')!.errors && (myForm.get('price')!.dirty || myForm.get('price')!.touched)">
                                          <div *ngIf="myForm.get('price')!.errors?.['required']" class="text-danger">Price is required</div>
                                          <div *ngIf="myForm.get('price')!.errors?.['pattern']" class="text-danger">Invalid price format</div>
                                      </div>

                                    </div><!-- /.form-group -->
                                </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="submit-description">Description</label>
                                    <textarea class="form-control" id="submit-description" rows="8" name="submit-description" formControlName="description"></textarea>
                                    <!-- Display validation errors -->
                                    <div *ngIf="myForm.get('description')!.errors && (myForm.get('description')!.dirty || myForm.get('description')!.touched)">
                                      <div *ngIf="myForm.get('description')!.errors?.['required']" class="text-danger">Description is required</div>
                                    </div>

                                </div><!-- /.form-group -->
                              </section><!-- /#basic-information -->


                                  <div class="container">
                                            <div>
                                              <section id="summary">
                                                <div class="form-group">
                                                    <label for="submit-city">City</label>
                                                    <input type="text" class="form-control input1" id="submit-city" name="city" required formControlName="city">
                                                    <div *ngIf="myForm.get('city')?.errors && (myForm.get('city')?.dirty || myForm.get('city')?.touched)" class="text-danger">
                                                      <div *ngIf="myForm.get('city')?.errors?.['required']">City is required</div>
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                  <label for="submit-street">Street</label>
                                                  <input type="text" class="form-control input1" id="submit-street" name="street" required formControlName="street">
                                                  <!-- Validation error message for Street -->
                                                  <div *ngIf="myForm.get('street')!.invalid && myForm.get('street')!.touched" class="text-danger">
                                                    <div *ngIf="myForm.get('street')!.errors?.['required']">Street is required</div>
                                                    <!-- Add more validation checks and error messages if needed -->
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label for="submit-district">District</label>
                                                  <input type="text" class="form-control input1" id="submit-district" name="district" required formControlName="district">
                                                  <!-- Validation error message for District -->
                                                  <div *ngIf="myForm.get('district')!.invalid && myForm.get('district')!.touched" class="text-danger">
                                                    <div *ngIf="myForm.get('district')!.errors?.['required']">District is required</div>
                                                      <!-- Add more validation checks and error messages if needed -->
                                                  </div>
                                              </div>


                                                <div class="form-group">
                                                    <label for="submit-property-type">Property Type</label>
                                                    <div class="select_container">
                                                        <select name="type" id="submit-property-type" formControlName="property_type">
                                                            <option value="Apartment">Apartment</option>
                                                            <option value="Condominium">Condominium</option>
                                                            <option value="Cottage">Cottage</option>
                                                            <option value="Flat">Flat</option>
                                                            <option value="House">House</option>
                                                        </select>
                                                    </div>
                                                    <!-- Add validation message if needed -->
                                                </div>

                                                <div class="form-group">
                                                    <label for="submit-status">Status</label>
                                                    <div class="select_container">
                                                        <select name="type" id="submit-status" formControlName="status">
                                                            <option value="for_sale">Sale</option>
                                                            <option value="for_rent">Rent</option>
                                                        </select>
                                                    </div>
                                                    <!-- Add validation message if needed -->
                                                </div>

                                                <div class="row">
                                                  <div class="col-md-6 col-sm-6">
                                                      <div class="form-group">
                                                          <label for="submit-Beds">Beds</label>
                                                          <input type="text" class="form-control input1" id="submit-Beds" name="Beds" pattern="\d*" required formControlName="beds">
                                                          <!-- Validation error message for Beds -->
                                                          <div *ngIf="myForm.get('beds')!.invalid && myForm.get('beds')!.touched" class="text-danger">
                                                            <div *ngIf="myForm.get('beds')!.errors?.['required']">Beds is required</div>
                                                            <div *ngIf="myForm.get('beds')!.errors?.['pattern']" class="text-danger">Invalid beds format</div>
                                                            <!-- Add more validation checks and error messages if needed -->
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6 col-sm-6">
                                                      <div class="form-group">
                                                          <label for="submit-Baths">Baths</label>
                                                          <input type="text" class="form-control input1" id="submit-Baths" name="Baths" pattern="\d*" required formControlName="baths">
                                                          <!-- Validation error message for Baths -->
                                                          <div *ngIf="myForm.get('baths')!.invalid && myForm.get('baths')!.touched" class="text-danger">
                                                            <div *ngIf="myForm.get('baths')!.errors?.['required']">Baths is required</div>
                                                            <div *ngIf="myForm.get('baths')!.errors?.['pattern']" class="text-danger">Invalid Baths format</div>
                                                            <!-- Add more validation checks and error messages if needed -->
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="row">
                                                  <div class="form-group col-12 col-xl-6">
                                                      <label for="submit-area">Area</label>
                                                      <div class="input-group">
                                                          <input type="text" class="form-control input-area" id="submit-area" name="area" pattern="\d*" required formControlName="area">
                                                          <span class="input-group-text">m<sup>2</sup></span>
                                                      </div>
                                                      <!-- Validation error message for Area -->
                                                      <div *ngIf="myForm.get('area')!.invalid && myForm.get('area')!.touched" class="text-danger">
                                                        <div *ngIf="myForm.get('area')!.errors?.['required']">Area is required</div>
                                                        <div *ngIf="myForm.get('area')!.errors?.['pattern']" class="text-danger">Invalid area format</div>
                                                        <!-- Add more validation checks and error messages if needed -->
                                                      </div>
                                                  </div>
                                              </div>

                                            </section>
                                            <!-- /#summary -->
                                          </div><!-- /.col-md-6 -->
                                  </div><!-- /.row -->

                              <!-- gallary -->
                              <section class="block" id="gallery">
                                <header><h2>Gallery</h2></header>
                                <div class="image-container">
                                    <div class="upload">
                                        <input id="file-upload" name="images[]" type="file" (change)="onFileChange($event)" multiple class="form-control" accept="image/jpeg,image/png" formControlName="image">
                                        <label for="file-upload">
                                            <fa-icon [icon]="upload"></fa-icon>&nbsp;
                                            Choose image
                                        </label>
                                    </div>
                                    <!-- Display validation error message if no images are selected -->
                                    <div *ngIf="myForm.get('image')?.invalid && myForm.get('image')?.touched" class="text-danger">
                                      <div *ngIf="myForm.get('image')?.errors?.['required']">Please select at least one image</div>
                                    </div>

                                    <div class="preview-container">
                                        <div style="position: relative;" *ngFor="let image of selectedImages; let i = index" class="image-preview">
                                            <img style="width:200px;height: 150px;" [src]="image.url" alt="Selected Image">
                                            <div style="position: absolute;top:0;"><button class="btn btn-danger" (click)="onDelete(i)" style="right: 0;top: 0; width: 30px;height: 30px;position: relative;"><p style="position: absolute;top: 0;color: white;">x</p></button></div>
                                        </div>
                                    </div>
                                </div>
                            </section>


                              <!--end gallary  -->
                              <hr>
                          </section>
                      </div><!-- /.col-md-9 -->
                  </div>
              </div><!-- /.row -->
              <div class="row">
                  <div class="block">
                      <div style="width: 100%;" class="col-md-9 col-sm-9">
                          <div class="center">
                              <div class="form-group">
                                <button type="submit" class="btn btn-default large">Add Property</button>                              </div><!-- /.form-group -->
                          </div>
                      </div>
                  </div>
              </div>
          </form><!-- /#form-submit -->
      </div><!-- /.container -->
  </div>
  <!-- end Page Content -->

  <!-- end Page Footer -->
</div>
<app-big-footer></app-big-footer>
