<app-navbar></app-navbar>
<!-- Wrapper -->
<div class="wrapper">

  <!-- Page Content -->
  <div id="page-content">
      <!-- Breadcrumb -->
        <nav class="container py-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="nav-link text-dark link-secondary">Home</a></li>
                <li class="breadcrumb-item text-secondary">Add your property</li>
            </ol>
        </nav>
  <!-- end Breadcrumb -->

      <div class="container">
          <header><h1>Add Your Property</h1></header>

          <form  role="form" id="form-submit" class="form-submit" [formGroup]="myForm" (submit)="onSubmit()">
              <div class="row">
                  <div class="block">
                      <div class="col-md-9 col-sm-9 sc">
                          <section id="submit-form">
                              <section id="basic-information">
                                  <header><h2>Basic Information</h2></header>
                                  <div class="row">
                                      <div class="col-md-8">
                                          <div class="form-group">
                                              <label for="submit-title">Title</label>
                                              <input type="text" class="form-control input1" id="submit-title" name="title" required formControlName="title">
                                          </div><!-- /.form-group -->
                                      </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="submit-price">Price</label>
                                              <div class="input-group">
                                                  <span class="input-group-addon">$</span>
                                                  <input type="text input1" class="form-control" id="submit-price" name="price" pattern="\d*" required formControlName="price">
                                              </div>
                                          </div><!-- /.form-group -->
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="submit-description">Description</label>
                                      <textarea class="form-control" id="submit-description" rows="8" name="submit-description" required formControlName="description"></textarea>
                                  </div><!-- /.form-group -->
                              </section><!-- /#basic-information -->


                                  <div class="container">
                                          <div>
                                              <section id="summary">
                                                  <header><h2>Summary</h2></header>
                                                  <div class="form-group">
                                                      <label for="submit-city">City</label>
                                                      <input type="text" class="form-control input1" id="submit-city" name="city" required formControlName="city">
                                                  </div>
                                                  <!--  -->
                                                  <div class="col-md-6 col-sm-6" style="width: 100%;">
                                                    <div class="form-group" >
                                                        <label for="submit-street">Street</label>
                                                        <input type="text" class="form-control input1" id="submit-street" name="street" required formControlName="street">
                                                    </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-6 -->
                                                  <div class="col-md-6 col-sm-6" style="width: 100%;">
                                                    <div class="form-group" >
                                                        <label for="submit-district">District</label>
                                                        <input type="text" class="form-control input1" id="submit-district" name="district" required formControlName="district">
                                                    </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-6 -->
                                                  <div class="row">
                                                      <div class="col-md-6 col-sm-6" >
                                                          <div class="form-group">
                                                              <label for="submit-property-type">Property Type</label>
                                                              <div class="select_container">
                                                                <select name="type" id="submit-property-type" formControlName="property_type">
                                                                    <option value="Apartment">Apartment</option>
                                                                    <option value="Condominium">Condominium</option>
                                                                    <option value="Cottage">Cottage</option>
                                                                    <option value="Flat">Flat</option>
                                                                    <option value="House">House</option>
                                                                </select>
                                                              </div>
                                                          </div><!-- /.form-group -->
                                                      </div><!-- /.col-md-6 -->
                                                      <div class="col-md-6 col-sm-6">
                                                          <div class="form-group">
                                                              <label for="submit-status">Status</label>
                                                              <div class="select_container">
                                                                <select name="type" id="submit-status" formControlName="status">
                                                                    <option value="for_sale">Sale</option>
                                                                    <option value="for_rent">Rent</option>
                                                                </select>
                                                              </div>
                                                          </div><!-- /.form-group -->
                                                      </div><!-- /.col-md-6 -->
                                                  </div><!-- /.row -->
                                                  <div class="row">
                                                      <div class="col-md-6 col-sm-6">
                                                          <div class="form-group">
                                                              <label for="submit-Beds">Beds</label>
                                                              <input type="text" class="form-control input1" id="submit-Beds" name="Beds" pattern="\d*" required formControlName="beds">
                                                          </div><!-- /.form-group -->
                                                      </div><!-- /.col-md-6 -->
                                                      <div class="col-md-6 col-sm-6">
                                                          <div class="form-group">
                                                              <label for="submit-Baths">Baths</label>
                                                              <input type="text" class="form-control input1" id="submit-Baths" name="Baths" pattern="\d*" required formControlName="baths">
                                                          </div><!-- /.form-group -->
                                                      </div><!-- /.col-md-6 -->
                                                  </div>
                                                      <div class="row">
                                                          <div class="form-group col-12 col-xl-6">
                                                              <label for="submit-area">Area</label>
                                                              <div class="input-group">
                                                                  <input type="text" class="form-control input-area" id="submit-area" name="area" pattern="\d*" required formControlName="area">
                                                                  <span class="input-group-text ">m<sup>2</sup></span>
                                                              </div>
                                                          </div><!-- /.form-group -->
                                                      </div><!-- /.col-md-6 -->
                                              </section><!-- /#summary -->
                                          </div><!-- /.col-md-6 -->
                                  </div><!-- /.row -->

                              <!-- gallary -->
                              <section class="block" id="gallery">
                                <header><h2>Gallery</h2></header>
                                <div class="image-container">
                                  <div class="upload">
                                    <input id="file-upload" name="images[]" type="file" (change)="onFileChange($event)"  multiple class=" " multiple="true"
                                      data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png"
                                      data-browse-class="btn btn-default" data-browse-label="Browse Images" formControlName="image">
                                    <label for="file-upload">
                                      <fa-icon [icon]="upload"></fa-icon>&nbsp;
                                      chose image
                                    </label>
                                  </div>
                                  <div class="preview-container">
                                    <div   *ngFor="let image of selectedImages let i = index" class="image-preview">
                                      <img  [src]="image.url" alt="Selected Image">
                                      <button  class="btn btn-danger" (click)="onDelete(i)">Delete</button>
                                    </div>
                                  </div>
                                </div>
                            </section>
                              <!--end gallary  -->
                              <hr>
                          </section>
                      </div><!-- /.col-md-9 -->
                  </div>
              </div><!-- /.row -->
              <div class="row">
                  <div class="block">
                      <div style="width: 100%;" class="col-md-9 col-sm-9">
                          <div class="center">
                              <div class="form-group">
                                  <button type="submit" class="btn btn-default large">Add Property</button>
                              </div><!-- /.form-group -->
                          </div>
                      </div>
                  </div>
              </div>
          </form><!-- /#form-submit -->
      </div><!-- /.container -->
  </div>
  <!-- end Page Content -->

  <!-- end Page Footer -->
</div>
<app-big-footer></app-big-footer>
