.property {
  font-size: 14px;
  line-height: 1.42857143;
  color: #5a5a5a;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 25px !important;
}

.property a {
  background: transparent;
  text-decoration: none;
  transition: 0.2s;
  color: #1396e2;
  outline: none !important;
}

.property-image img {
  border: 0;
  vertical-align: middle;
  transition: 0.4s;
  width: 100%;
  position: relative;
  top: 0;
}

@media (min-width: 576px){
  .property-image img{
    height: 387px;
  }
}
@media (min-width: 768px){
  .property-image img{
    height: 252px;
  }
}
@media (min-width: 992px){
  .property-image img{
    height: 162px;
  }
}
@media (min-width: 1200px){
  .property-image img{
    height: 196px;
  }
}
@media (min-width: 1400px){
  .property-image img{
    height: 230px;
  }
}

.overlay {
  transition: 0.4s;
  bottom: -65px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.info {
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  padding: 12px;
}

.price-tag {
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 3px 8px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #1396e2;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.info h3 {
  line-height: 1.1;
  transition: 0.2s;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 3px 0;
}

.info figure {
  display: block;
  margin: 0;
  color: #dbdbdb;
  font-size: 14px;
}

.additional-info {
  margin-top: 0;
  background-color: #073855;
  display: table;
  list-style: none;
  margin-bottom: 0;
  width: 100%;
  padding: 8px 12px;
}

.additional-info li {
  transition: 0.8s;
  opacity: 0;
  color: #fff;
  display: table-cell;
  width: 25%;
}

li header {
  opacity: 0.5;
  font-size: 11px;
}

li figure {
  font-size: 11px;
  font-weight: bold;
  color: #fff;
}

.property:hover img,
.property:active img,
.property:focus img {
  top: -10px;
}


.property:hover .overlay,
.property:active .overlay,
.property:focus .overlay {
  bottom: -15px;
}

.property:hover .overlay .additional-info li,
.property:active .overlay .additional-info li,
.property:focus .overlay .additional-info li {
  opacity: 1;
}