<footer>
    <aside class="big-footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 mb-sm-5 mb-md-0">
                    <article class="pe-lg-5">
                        <h6 class="pb-3">About Us</h6>
                        <p class="text-secondary">Passionate developers dedicated to crafting innovative solutions.
                            Transforming the real estate landscape through innovative technology,
                             we strive to simplify your property journey and exceed your expectations.
                        </p>
                        <hr>
                        <a href="#" class="text-decoration-none text-dark link-arrow">Read More</a>
                    </article>
                </div>
                <div class="col-md-3 col-sm-12 mb-sm-5 mb-md-0">
                    <article>
                        <h6 class="pb-3">Recent Properties</h6>
                        @for (property of propertiesFooter.slice(-2).reverse(); track property.id) {
                            <div class="property d-flex flex-column flex-lg-row gap-2 mb-4 align-content-center">
                                <div>
                                    <a [routerLink]="['/property-details', property.id]">
                                        <div class="property-image">
                                            <img height="90px" width="120px" alt="Property Photo" src="http://localhost:8000/images/{{property.image}}">
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="info">
                                    <a [routerLink]="['/property-details', property.id]" class="text-decoration-none">
                                        <h6 class="property-title">{{property.title}}</h6>
                                    </a>
                                    <figure class="text-secondary mb-1">{{property.city}}, {{property.district}}</figure>
                                    <div class="price badge bg-primary rounded-1">LE {{property.price}}</div>
                                </div>
                            </div>
                        }
                    </article>
                </div>
                <div class="col-md-3 col-sm-12 mb-sm-5 mb-md-0">
                    <article class="contact text-secondary">
                        <h6 class="pb-3 text-dark">Contact</h6>
                        <address>
                            <strong>Information Technology</strong><br>
                            2732 Beni Suef<br>
                            Governorate
                        </address>
                        +20 (123) 456-7890<br>
                        <a href="#" class="mail text-decoration-none">hello&#64;bazar.com</a>
                    </article>
                </div>
                <div class="col-md-3 col-sm-12">
                    <article>
                        <h6 class="pb-3">Useful Links</h6>
                        <ul class="list-unstyled text-secondary">
                            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">All Properties</a></li>
                            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Privacy Policy</a></li>
                            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Login and Register Account</a></li>
                            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">FAQ</a></li>
                            <li><a href="#" class="text-secondary text-decoration-none">Terms and Conditions</a></li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </aside>
    <aside class="small-footer text-light">
        <div class="container d-flex justify-content-between py-4">
            <span>Copyright © 2024. All Rights Reserved.</span>
            <span class="pull-right"><a href="#" class="text-light text-decoration-none">Go to top</a></span>
        </div>
    </aside>
</footer>
