<footer>
    <aside class="big-footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 mb-sm-5 mb-md-0">
                    <article class="pe-lg-5">
                        <h6 class="pb-3">About Us</h6>
                        <p class="text-secondary">Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante
                            ipsum
                            primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere,
                            commodo odio
                            id, ornare tortor
                        </p>
                        <hr>
                        <a href="#" class="text-decoration-none text-dark link-arrow">Read More</a>
                    </article>
                </div>
                <div class="col-md-3 col-sm-12 mb-sm-5 mb-md-0">
                    <article>
                        <h6 class="pb-3">Recent Properties</h6>
                        <div class="property d-flex flex-column flex-lg-row gap-2 mb-4">
                            <a href="#">
                                <div class="property-image">
                                    <img class="w-100" alt="" src="../../assets/images/property-06.jpg">
                                </div>
                            </a>
                            <div class="info">
                                <a href="#" class="text-decoration-none">
                                    <h6 class="property-title m-0">2186 Rinehart Road</h6>
                                </a>
                                <figure class="text-secondary mb-1">Doral, FL 33178 </figure>
                                <div class="price badge bg-primary rounded-1">$ 72,000</div>
                            </div>
                        </div>
                        <div class="property d-flex flex-column flex-lg-row gap-2">
                            <a href="#">
                                <div class="property-image">
                                    <img class="w-100" alt="" src="../../assets/images/property-09.jpg">
                                </div>
                            </a>
                            <div class="info">
                                <a href="#" class="text-decoration-none">
                                    <h6 class="property-title m-0">2479 Murphy Court</h6>
                                </a>
                                <figure class="text-secondary mb-1">Minneapolis, MN 55402</figure>
                                <div class="price badge bg-primary rounded-1">$ 36,000</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-3 col-sm-12 mb-sm-5 mb-md-0">
                    <article class="contact text-secondary">
                        <h6 class="pb-3 text-dark">Contact</h6>
                        <address>
                            <strong>Your Company</strong><br>
                            4877 Spruce Drive<br>
                            West Newton, PA 15089
                        </address>
                        +1 (734) 123-4567<br>
                        <a href="#" class="mail text-decoration-none">hello&#64;example.com</a>
                    </article>
                </div>
                <div class="col-md-3 col-sm-12">
                    <article>
                        <h6 class="pb-3">Useful Links</h6>
                        <ul class="list-unstyled text-secondary">
                            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">All Properties</a></li>
                            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Privacy Policy</a></li>
                            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Login and Register Account</a></li>
                            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">FAQ</a></li>
                            <li><a href="#" class="text-secondary text-decoration-none">Terms and Conditions</a></li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </aside>
    <aside class="small-footer text-light">
        <div class="container d-flex justify-content-between py-4">
            <span>Copyright © 2013. All Rights Reserved.</span>
            <span class="pull-right"><a href="#" class="text-light text-decoration-none">Go to top</a></span>
        </div>
    </aside>
</footer>
